<div class="container">
  <ul class="list-group">

    <li class="list-group-item bg-primary text-white">
      <div class="d-flex">
        <div class="flex-even"
             *ngFor="let label of header">
          {{ label }}
        </div>
      </div>
    </li>

    <ng-template #tplRow
                 let-items="items">
      <li class="list-group-item list-group-item-action"
          *ngFor="let row of items">
        <div class="d-flex">
          <div class="flex-even"
               *ngFor="let label of header">
            {{ row[label] }}
          </div>
        </div>
      </li>
    </ng-template>

    <!-- group on -->
    <ng-container *ngIf="groupBy">
      <ng-container *ngFor="let group of groups">
        <li class="list-group-item list-group-item-action">
          {{ group.id }}
        </li>
        <ng-container *ngTemplateOutlet="tplRow; context: {items: group.items}"></ng-container>
      </ng-container>
    </ng-container>

    <!-- group off -->
    <ng-container *ngIf="!groupBy">
      <ng-container *ngTemplateOutlet="tplRow; context: {items: data}"></ng-container>
    </ng-container>

  </ul>
</div>
